.header{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.header__left{
display: flex;

}

.header__left > img{

    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}
.header__search>input{
background:none;
outline: none;
border: none;

}

.header__search{
padding: 10px;
display: flex;
justify-content: center;
border-radius: 5px;
height: 22px;
background-color: rgb(240, 240, 240);
color: gray;
}
.header__right{
    display: flex;
    cursor: pointer;
}
.HeaderOptions:hover{

    color: black;
}
